h1 , div{
  font-family: "DejaVu Sans Mono";
  color: white;
}

h1{
  text-align: center;
}

.all{
}

.social-icons{
  color: white;
  font-size: 25px;
}

body{
  background-color: black;
}
text{
  color: aliceblue;
}

hr{
  padding: 0px;
}
