<div class="container text all">
<h1 class="modal-title">Coco Huissoon</h1>
<div>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</div>
  <hr class="col-xs-12">
<div class="social-icons">
<a href="https://linkedin.com/in/coco-huissoon-33b17a60" target="_blank" ><i class="fab fa-linkedin social-icons"></i></a>
<a href="https://github.com/CocoHuissoon" target="_blank"><i class="fab fa-github-square social-icons"></i></a>
<a href = "mailto: chuissoon@hotmail.com" target="_blank"><i class="fas fa-envelope-square social-icons"></i></a>
</div>
</div>
<router-outlet></router-outlet>
